<div class="plan-container">
    <div class="background-container">
        <div class="form-container">
            <div class="box">
                <h2>Choose Your Plan</h2>
                <label id="quote">More you upgrad plan, more you reduce expenses </label>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="plan">
                                <div class="center-plan">
                                    <p id="p-1">GOLD</p>
                                </div>
                                <div class="place-button b-plan1">
                                    <p-button (click)="goToPayment(2,10)" label="Select Plan"></p-button>
                                </div>
                                <img src="../../../../assets/imgs/user-management/plan-orange-img.png" alt="">
                                <div class="content">
                                    <label>10$</label>
                                    <label>2 Days</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="plan">
                                <div class="center-plan">
                                    <p id="p-2">DIAMOND</p>
                                </div>
                                <div class="place-button b-plan2">
                                    <p-button (click)="goToPayment(15,30)" label="Select Plan"></p-button>
                                </div>
                                <img src="../../../../assets/imgs/user-management/plan-blue-img.png" alt="">
                                <div class="content">
                                    <label>30$</label>
                                    <label>15 Days</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="plan">
                                <div class="center-plan">
                                    <p id="p-3">PLATINUM</p>
                                </div>
                                <div class="place-button b-plan3">
                                    <p-button (click)="goToPayment(30,50)" label="Select Plan"></p-button>
                                </div>
                                <img src="../../../../assets/imgs/user-management/plan-green-img.png" alt="">
                                <div class="content">
                                    <label>50$</label>
                                    <label>30 Days</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>