.forget-password-container{
    h1{
        color: white;
    }
    label{
        color:white;
    }
    h2{
        color: white;
    }
    .background-container{
        background-image: url(../../../../assets/imgs/authentication/bus-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        &::after{
            content: "";
            position: absolute;
            background-color: black;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.6;
            z-index: 1;
        }
        .form-container{
            position: relative;
            z-index: 2;
            display:flex;
            align-items: center;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            .box{
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: rgba(35, 96, 209, 0.6);
                width:40%;
                padding: 35px;
                #title-forget-password-Form{
                    font-size: 25px;
                    font-weight: 700;
                }
                form{
                    width: 100%;
                    .element-flex-column{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin-top: 35px;
                        width: 100%;
                        label{
                            margin-bottom: 5px;
                        }
                    }
                    .element-flex-row{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-top: 35px;
                        label{
                            margin-left:10px;
                        }
                        p-button{
                            width: 100%;
                        }
                    }
                    .create-forget-container {
                        text-align: center;
                        margin-top: 35px;
                        label{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .input-field{
        display: flex;
        justify-content: center;
        input{
            height: 45px;
            width: 42px;
            margin-right: 5px;
            margin-top: 20px;
            border-radius: 6px;
            text-align: center;
            border: 0px solid #ddd;
            font-size: 1.125rem;
            outline: none;

        }
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button{
            display: none;
        }
    }
    .verification-btn{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
.back{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    img{
        position: relative;
        height: 50px;
        width: 50px;
        cursor: pointer;
        z-index: 5;
    }
}