<div class="forget-password-container">
    <div class="background-container">
        <div class="form-container">
            <h1>Bus Transportation Forget Password Form</h1>
            <div class="box">
                <label id="title-forget-password-Form">Forget Password</label>
                <div *ngIf="isVerificationCode">
                    <form *ngIf="true" [formGroup]="otp" >
                        <div class="input-field">
                           <input type="text" #txt1 formControlName="firstInput" maxlength="1" (keyup)="move($event,'',txt1,txt2)">
                           <input type="text" #txt2 formControlName="secondInput"  maxlength="1" (keyup)="move($event,txt1,txt2,txt3)">
                           <input type="text" #txt3 formControlName="thirdInput"  maxlength="1" (keyup)="move($event,txt2,txt3,txt4)">
                           <input type="text" #txt4 formControlName="fourthInput"  maxlength="1"(keyup)="move($event,txt3,txt4,txt5)">
                           <input type="text" #txt5 formControlName="fifthInput"  maxlength="1" (keyup)="move($event,txt4,txt5,txt6)">
                           <input type="text" #txt6 formControlName="sixInput"  maxlength="1" (keyup)="move($event,txt5,txt6,txt6)">
                        </div>
                        <div class="verification-btn">
                           <p-button (click)="onSubmit()" label="Verify OTP"></p-button>
                        </div>
                   </form>
                </div>
                <div *ngIf="isForgetPassword">
                    <form [formGroup]="forgetPassword">
                        <div class="element-flex-column">
                            <label>New Password</label>
                            <p-password  [feedback]="true" formControlName="newPassword" [toggleMask]="true"></p-password>
                        </div>
                        <div class="element-flex-column">
                            <label>Re-enter New Password</label>
                            <p-password  [feedback]="false" formControlName="confirmPassword" [toggleMask]="true"></p-password>
                        </div>
                        <div class="element-flex-row">
                            <p-button (click)="submitPassword()"  label="Change password"></p-button>
                        </div>
                        <div class="create-forget-container">
                            <label routerLink="/main/authentication/login">Go back</label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <p-dialog [header]="header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
            {{content}}
        </p>
    </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}"acceptLabel="ok" [closable]=false [rejectVisible]=false></p-confirmDialog>
</div>
<div class="back">
    <img src="../../../../assets/imgs/back/ic-back.svg"  alt="BACK" (click)="goBack()">
</div>