<div class="forget-password-container">
    <div class="background-container">
        <div class="form-container">
            <h1>Bus Transportation Forget Password Form</h1>
            <div class="box">
                <label id="title-forget-password-Form">Forget Password</label>
                <form >
                    <div class="element-flex-column">
                        <label>New Password</label>
                        <p-password [feedback]="false" [toggleMask]="true"></p-password>
                    </div>
                    <div class="element-flex-column">
                        <label>Re-enter New Password</label>
                        <p-password [feedback]="false" [toggleMask]="true"></p-password>
                    </div>
                    <div class="element-flex-row">
                        <p-button label="Change password"></p-button>
                    </div>
                    <div class="create-forget-container">
                        <label routerLink="/main/authentication/login">Go back</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>