.login-container{
    h1{
        color: white;
    }
    label{
        color:white;
    }
    h2{
        color: white;
    }
    .background-container{
        background-image: url(../../../../assets/imgs/authentication/bus-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        &::after{
            content: "";
            position: absolute;
            background-color: black;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.6;
            z-index: 1;
        }
        .form-container{
            position: relative;
            z-index: 2;
            display:flex;
            align-items: center;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            .box{
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: rgba(35, 96, 209, 0.6);
                width:40%;
                padding: 35px;
                #title-login-Form{
                    font-size: 25px;
                    font-weight: 700;
                }
                form{
                    width: 100%;
                    .element-flex-column{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin-top: 35px;
                        width: 100%;
                        label{
                            margin-bottom: 5px;
                        }
                    }
                    .element-flex-row{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-top: 35px;
                        label{
                            margin-left:10px;
                        }
                        p-button{
                            width: 100%;
                        }
                    }
                    .create-forget-container {
                        text-align: center;
                        margin-top: 35px;
                        label{
                            cursor: pointer;
                        }
                        #create-account{
                            margin-right: 15px;
                        }
                        #forget-password{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}