<div class="login-container">
    <div class="background-container">
        <div class="form-container">
            <h1>Bus Transportation Login Form</h1>
            <div class="box">
                <label id="title-login-Form">Login Form</label>
                <form>
                    <div class="element-flex-column">
                        <label>User Name</label>
                        <input type="text" pInputText/>
                    </div>
                    <div class="element-flex-column">
                        <label>Password</label>
                        <p-password [feedback]="false" [toggleMask]="true"></p-password>
                    </div>
                    <div class="element-flex-row">
                        <p-checkbox  [binary]="true" inputId="binary"></p-checkbox>
                        <label>Remember Me ?</label>
                    </div>
                    <div class="element-flex-row">
                        <p-button label="Login"></p-button>
                    </div>
                    <div class="create-forget-container">
                        <label id="create-account" routerLink="/main/authentication/register">Create Account</label>
                        <label id="forget-password">Forget Password ?</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>