<div class="edit-password-container">
    <div class="background-container">
        <div class="inside-background-container">
            <div class="container">
                <div class="row">
                    <h2>Edit password</h2>
                    <div class="col-md-12">
                        <div class="element-container-flex">
                            <label>Password</label>
                            <p-password  [feedback]="false" [toggleMask]="true"></p-password>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="element-container-flex">
                            <label>Enter New Password</label>
                            <p-password  [feedback]="false" [toggleMask]="true"></p-password>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="element-container-flex">
                            <label>Confirm Password</label>
                            <p-password  [feedback]="false" [toggleMask]="true"></p-password>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p-button id="bt1" label="Save Changes"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>