<div class="edit-password-container">
    <div class="background-container">
        <div class="inside-background-container">
            <div class="container">
                <div class="row">
                    <form [formGroup]="passwordForm">
                        <h2>Edit password</h2>
                        <div class="col-md-12">
                            <div class="element-container-flex">
                                <label>Password</label>
                                <p-password  [feedback]="false" formControlName="password" [toggleMask]="true"></p-password>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="element-container-flex">
                                <label>Enter New Password</label>
                                <p-password  [feedback]="true" formControlName="newPassword" [toggleMask]="true"></p-password>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="element-container-flex">
                                <label>Confirm Password</label>
                                <p-password  [feedback]="false" formControlName="confirmPassword" [toggleMask]="true"></p-password>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p-button (click)="submitForm()" id="bt1" label="Save Changes"></p-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p-dialog [header]="header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
            {{content}}
        </p>
    </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}"acceptLabel="ok" [closable]=false [rejectVisible]=false></p-confirmDialog>
</div>
<div class="back">
    <img src="../../../../assets/imgs/back/ic-back.svg"  alt="BACK" (click)="goBack()">
</div>