.check-passengers-container{
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 100px);
        .box{
            height: calc(100vh - 200px);
            width: 30%;
            position:relative;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            .header{
                position: relative;
                height: 50%;
                width: 100%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    margin-bottom: 20px;
                }
                p{
                    color: white;
                    font-size: 20px;      
                    letter-spacing: 0.1em;
                }
            }
            .change-color-header-success{
                background-color: rgb(57, 230, 57);
            }
            .change-color-header-error{
                background-color: red;
            }
            .body{
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: grey;
                    margin-bottom: 40px;
                    letter-spacing: 0.1em;
                }
                button{
                    width: 150px;
                    height: 50px;
                    border-radius: 20px;
                    border: none;
                    color: white;
                }
                .change-color-button-success{
                    background-color: rgb(57, 230, 57);
                }
                .change-color-button-error{
                    background-color: red;
                }
            }
        }
    }
    .order-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem; /* Assuming p-2 is equivalent to a padding of 0.5rem */
        align-items: center;
        gap: 0.75rem; /* Assuming gap-3 is equivalent to a gap of 0.75rem */
        .items {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem; /* Assuming gap-2 is equivalent to a gap of 0.5rem */
        }
        .bold{
            font-weight: bold; /* Applying font-bold */
        }
        .specificItemName {
            display: flex;
            align-items: center;
            gap: 0.5rem; /* Assuming gap-2 is equivalent to a gap of 0.5rem */
        }
        .section-list{
            width: 10rem;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            flex-shrink: 0;
            border-radius: 0.25rem;
        }
    }
}