/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';

.p-confirm-popup{
    margin-top:160px;
    margin-left:10px;
}

.element-flex-column .p-component{
    width: 100%;
}
.element-flex-row .p-button{
    width: 100%;
}
.element-container-flex p-password{
    width: 100%;
    margin-bottom: 30px;
    .p-password{
        width: 100%;
        .p-inputtext{
            width: 100%;
        }
    }
}
.p-button{
    border-radius: 12px;
}
.green .p-button{
    background: #3bf6ef;
    border-color: #3bf6ef;
}
.orange .p-button{
    background: #ea6f28;
    border-color: #ea6f28;
}
.moove-btn{
    .p-confirm-dialog-reject{
        margin-right: 30px !important;
    }
}
.p-orderlist-controls{
    display: none;
}

.history-container{
    .pi-plus{
        display: none !important;
    }
    .pi-cloud{
        display: none !important;
    }
} 

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
