<div class="map-container">
    <div class="map" #map id="map-canvas"></div>
    <div class="map-loader-container" *ngIf="!mapLoaded">
        <div class="map-loader"></div>
    </div>
    <div class="map-buses-side-bar" >
        <img (click)="leftSidebarVisible = true" src="../../../assets/imgs/map/ic-bus.png" alt="Buses" title="Buses">
        <p-sidebar [(visible)]="leftSidebarVisible" position="left">
            <h3>Available Buses</h3>
            <input type="search" placeholder="Search for Bus" pInputText [(ngModel)]="searchBus"  (keyup)="searchBuses(searchBus)" />
            <div class="active-buses" *ngFor="let busRoute of setBusRouteData">
                <div class="box">
                    <label>{{ busRoute.userName }} ({{ busRoute.routeName }})</label>
                    <p-button (click)="ViewBusOnMap(busRoute.busLng,busRoute.busLat,busRoute.busId)" icon="pi pi-check" size="small"></p-button>
                </div>
            </div>            
        </p-sidebar>
    </div>
    <div class="map-Settings-side-bar" >
        <img (click)="rightSidebarVisible = true" src="../../../assets/imgs/map/ic-settings.png" alt="Settings" title="Settings">
        <p-sidebar [(visible)]="rightSidebarVisible" position="right">
            <h3>Settings</h3>
           <div>
            <p-panelMenu [model]="items"></p-panelMenu>
           </div>
        </p-sidebar>
    </div>
    <div class="popup">
        <p-toast></p-toast>
        <p-confirmPopup></p-confirmPopup>
    </div>
</div>

<button *ngIf="showSeeAllBuses" type="button" style="position: absolute;bottom: 50%;" (click)="getAllActiveBusesAgain()">See All Buses</button>
